:root{
    --default-bg:#193a3c;
    --dark-green-bg: #213722;
    --light: #dbd5c9;
    --text-light: #fdfbf0;
    --bg-light: #f3eef1;
}

@font-face {
  font-family: "title";
  src:
    url("fonts/josephsophia-webfont.woff2") format("woff2"),
    url("fonts/josephsophia-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text";
  src:
    url("fonts/nk57_monospace_no_lt-webfont.woff2") format("woff2"),
    url("fonts/nk57_monospace_no_lt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}

#container{
    display: flex;
    height: 100%;
}

#left-side{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--default-bg) url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#main-side{
    font-family: "text";   
    width: 70%;
    background-color: var(--bg-light);
}

#logo-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 58, 60,0.3);
}

h1{ 
    font: 60px "title";
    text-align: center;
    color: var(--text-light);
}

#icon{
    height: 150px;
    width: 150px;
}

a, a:visited{
    color: var(--text-light);
}

#links{
    color: var(--light);
    text-align: center;
    font: 0.8em "text";
}

#signup-form{
    background-color: var(--dark-green-bg);
    padding: 30px;
    display: flex;
    flex-direction: column;
}